#drum_container {
  cursor: url("../img/drums/drum_wand.png"), auto;
}

img:active {
  animation: vibrate 0.1s infinite;
}
@keyframes vibrate {
  50% {
    transform: rotate(2deg) translateX(1px);
  }
  100% {
    transform: rotate(-2deg) translateX(-1px);
  }
}
